:host{
  display: block;
  padding: 10%;
  min-height: 100vh;
}

.contato{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario{
  background-color: #5E0006;
  padding: 10%;
  border-radius: 20px;
}
