<div class="contato">
  <div class="txt">
    <h1>Contato</h1>
    <p>Entre em contato preenchendo o formulário diretamente ou através das minhas redes sociais</p>
  </div>

  <div class="formulario">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label class="form-label">Titulo da mensagem</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titulo da mensagem">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-light">Enviar</button>
  </div>
</div>
