<div class="sobre'">

  <div class="texto">
    <h1>Sobre Mim</h1>
    <p>Quem sou eu?</p>
    <p>Sou desenvolvedora full-stack com experência em Angular e SpringBoot.</p>
  </div>

  <!-- <img src="/assets/laptop.jpg" alt="laptop"> -->

  <div class="cardsG">
    <div class="card">
      <div class="card-body">
        <mat-icon>equalizer</mat-icon>
        <h5>Foco em resultado</h5>
        <p>Soluções que geram valor</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <mat-icon>computer</mat-icon>
        <h5>Apaixonada por código</h5>
        <p>Transforma lógica em soluções reais</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <mat-icon>favorite</mat-icon>
        <h5>Aprendizado constante</h5>
        <p>Curiosa por natureza e sempre buscando evoluir</p>
      </div>
    </div>
  </div>

  <div class="cv">
    <div class="card">
      <div class="card-body">
        <div class="texto-card">
          <div class="work">
          <mat-icon>work</mat-icon> <p>1+ Experiência </p>
          </div>
          <div class="project">
          <mat-icon>monitor</mat-icon> <p>3 Projetos </p>
          </div>
          <div class="techh">
          <mat-icon>code</mat-icon> <p>+5 Tecnologias</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
