<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <div class="brand-container">
      <mat-icon class="logo">polymer</mat-icon>
      <a class="navbar-brand">Kauane Vergasta</a>
    </div>

    <button class="menuBtn" (click)="toggleMenu()">
      <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isMenuOpen">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#home" (click)="closeMenu()">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#sobre" (click)="closeMenu()">Sobre mim</a></li>
        <li class="nav-item"><a class="nav-link" href="#projetos" (click)="closeMenu()">Projetos</a></li>
        <li class="nav-item"><a class="nav-link" href="#skills" (click)="closeMenu()">Skills</a></li>
        <li class="nav-item"><a class="nav-link" href="#contato" (click)="closeMenu()">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>
