<section class="skills-container">

  <div class="txt-header">
    <h1 class="titulo-sessao">Skills</h1>
    <div class="linha-decorativa"></div>
  </div>

  <div class="container">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4 justify-content-center">

      <div class="col">
        <div class="skill-card">
          <!-- <img src="/assets/spring.png" alt="Spring Boot"> -->
          <span>Spring Boot</span>
        </div>
      </div>

      <div class="col">
        <div class="skill-card">
          <!-- <img src="/assets/java.png" alt="Java"> -->
          <span>Java</span>
        </div>
      </div>

      <div class="col">
        <div class="skill-card">
          <!-- <img src="/assets/angular.svg" alt="Angular"> -->
          <span>Angular</span>
        </div>
      </div>

      <div class="col">
        <div class="skill-card">
          <!-- <img src="/assets/ts.png" alt="TypeScript"> -->
          <span>TypeScript</span>
        </div>
      </div>

      <div class="col">
        <div class="skill-card">
          <!-- <img src="/assets/kafka.png" alt="Kafka"> -->
          <span>Kafka</span>
        </div>
      </div>

      <div class="col">
        <div class="skill-card">
          <!-- <img src="/assets/mysql.png" alt="MySQL"> -->
          <span>MySQL</span>
        </div>
      </div>

      <div class="col">
        <div class="skill-card">
          <!-- <img src="/assets/python.png" alt="Python"> -->
          <span>Python</span>
        </div>
      </div>

      <div class="col">
        <div class="skill-card">
          <!-- <img src="/assets/js.png" alt="JavaScript"> -->
          <span>JavaScript</span>
        </div>
      </div>

      <div class="col">
        <div class="skill-card">
          <mat-icon>code</mat-icon>
          <!-- <img src="/assets/css-3.png" alt="CSS3"> -->
          <span>Docker</span>
        </div>
      </div>

      <div class="col">
        <div class="skill-card">
          <!-- <img src="/assets/html-5.png" alt="HTML5"> -->
          <span>HTML5</span>
        </div>
      </div>

      <div class="col">
        <div class="skill-card">
          <mat-icon>code</mat-icon>
          <!-- <img src="/assets/css-3.png" alt="CSS3"> -->
          <span>CSS3</span>
        </div>
      </div>
   

    </div>
  </div>
</section>
