<div class="projetos">

  <div class="txt">
    <div class="titulo">
      <h1>Projetos</h1>
    </div>
  </div>

  <div class="cardsG">

    <div class="card mb-3">
      <img src="/assets/trucker.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Logistic Manager</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small>JAVA | MAVEN | DESIGN PATTERN | OPP</small></p>
        <a href="" class="btn btn-primary">GitHub</a>
      </div>
    </div>

    <div class="card mb-3">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Notification Hub</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small>SPRING BOOT | ANGULAR </small></p>
        <a href="" class="btn btn-primary">Visualizar</a>
        <a href="" class="btn btn-primary">GitHub</a>
      </div>
    </div>

    <div class="card mb-3">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Forest Piracy</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small>SPRING BOOT | ANGULAR </small></p>
        <a href="" class="btn btn-primary">Visualizar</a>
        <a href="" class="btn btn-primary">GitHub</a>
      </div>
    </div>

  </div>

</div>
