/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://googleapis.com');

/* @import "~material-design-icons/iconfont/material-icons.css"; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* :host{
    background-color: #0F0E0E;
} */