<section id="home" class="container py-5">
  <div class="home row align-items-center g-4">
    <div class="intro col-md-7">
      <h1>Kauane Vergasta</h1>
      <h3>Software Developer -  FullStack</h3>
      <div class="frase">
        <p id="citacao">"Aqueles que podem imaginar qualquer coisa, podem criar o impossível".</p>
        <p id="autor">Alan Turing</p>
      </div>
      <div class="btnG col-md-4">
        <button type="button">Projetos</button>
        <button type="button">Contato</button>
        <button type="button">
        <mat-icon>download</mat-icon>
          Download CV
        </button>
      </div>
    </div>
    <img src="/assets/perfil.webp" class="rounded float-end" alt="Kauane Vergasta">
  </div>
</section>

<section id="sobre">
  <app-sobre></app-sobre>
</section>
<section id="projetos">
  <app-projetos></app-projetos>
</section>
<section id="skills">
  <app-skills></app-skills>
</section>
<section id="contato">
  <app-contato></app-contato>
</section>


