<section id="home" class="home-wrapper">
  <div class="container h-100">
    <div class="row h-100 align-items-center">

      <div class="intro col-12 text-center">
        <h1 class="nome-titulo">Kauane Vergasta</h1>
        <h3 class="cargo-subtitulo">Software Developer - FullStack</h3>

        <div class="frase-container">
          <p id="citacao">"Aqueles que podem imaginar qualquer coisa, podem criar o impossível."</p>
          <p id="autor">— Alan Turing</p>
        </div>

        <div class="btn-group-custom">
          <button type="button" class="btn-outline">Projetos</button>
          <button type="button" class="btn-outline">Contato</button>
          <a href="https://docs.google.com/document/d/1oA8JF-VYZV42B1lacpfg75qAhAyljvOmhD6ceqPQJp8/edit?usp=sharing" target="_blank">
          <button type="button" class="btn-filled">
            <span>Curriculum Vitae</span>
          </button>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>


<section id="sobre">
  <app-sobre></app-sobre>
</section>
<section id="projetos">
  <app-projetos></app-projetos>
</section>
<section id="skills">
  <app-skills></app-skills>
</section>
<section id="contato">
  <app-contato></app-contato>
</section>


